/* fonts.css */
@font-face {
  font-family: 'Race Sport';
  src: url('./assets/fonts/Race Sport.ttf') format('truetype');
  font-weight: 400; /* Normal; adjust if you have bold variants */
  font-style: normal;
  font-display: swap; /* Improves loading; text shows with fallback until font loads */
}

.custom-font {
    font-family: 'Race Sport', sans-serif;
}